<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h2>Student Details</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Faculty</th>
            
        </tr>
        {% for student in students %}
        <tr>
            <td>{{student.first_name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.faculty}}</td>
            
        </tr>
        {% endfor %}
        <!-- Add more rows as needed -->
    </table>
   
</body>
</html>
